.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto 2rem;
  height: 3.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;

  color: var(--text-color);
  background-color: var(--theme-color);

  cursor: pointer;
  transition: opacity 0.3s;
}

.bold {
  font-weight: bold;
}

/* OUTLINED BUTTON */
.button.outlined {
  background-color: transparent;
  border: 1px solid var(--border-color);
}

@media (hover: hover) {
  .button:is(:hover) {
    opacity: 0.5;
  }
}
